h1 {
	font-family: 'Montaga' serif;
	font-weight: 600;
	color: rgb(85 85 85);
	padding-left: 25px;
	margin-top: 25px;
}

h3 {
	font-family: 'Montaga' serif;
	color: rgb(85 85 85);
	margin-left: 20px;
}

h4 {
	font-family: 'Lato' sans-serif;
	color: rgb(85 85 85);
	text-align: justify;
}

h5 {
	font-family: 'Lato' sans-serif;
	font-weight: 400;
	margin-left: 100px;
	margin-right: 100px;
	line-height: 28px;
}

.article-services p {
	line-height: 28px;
	color: rgb(85 85 85);
}

.overview-services h2 {
	text-align: center;
}

.card-pillar {
	width: 510px;
	padding: 20px;
	line-height: 25px;
	box-shadow: 2px 2px rgba(184, 218, 245, 0.6);
	color: rgb(85 85 85);
	border: 0.5px dotted rgba(184, 218, 245, 0.6);
}

.card-pillar h4 {
	color: rgb(85 85 85);
	text-align: center;
}

.card-pillar p.text-justify {
	line-height: 30px;
}

.card-pillar .card-img-container {
	text-align: center;
	min-height: 220px;
	display: block;
}

.card-pillar img {
	max-height: 180px;
}

/* Banner for Freebie Donwload */

.banner-freebie {
	background-image: url('../../assets/images/20200622_BannerFreebie.png');
	min-height: 220px;
	margin-top: 3.5em;
	background-size: cover;
	background-position: center;
}

.banner-freebie .form-container {
	display: flex;
	vertical-align: middle;
	height: auto;
	min-height: 220px;
	max-width: 64%;
}

.banner-freebie .form-container input {
	background-color: #e0d8ba;
	color: #222222;
	border: 1px solid #bbb;
}
