.img-about {
	position: relative;
	width: 350px;
}

.img-about .img {
	width: 350px;
	padding: 5px 5px;
	margin-top: 20px;
}

.about-article {
	margin-left: 20px;
	line-height: 20px;
}

.about-article h1 {
	font-family: 'Montaga' serif;
	font-weight: 600;
	color:rgb(85 85 85);
	padding-left: 25px;
	margin-top: 25px;
}

.about-article p {
	line-height: 28px;
	padding: 10px 30px;
	color:rgb(85 85 85);
}

/*  Fun Graph for Random Facts */

.fun-graph .img {
width: 1020px;
height: 550px;
position: relative;
padding-left: 0px;
padding-top: 20px;
}