.img-home {
	position: relative;
}

.img-home .img {
	width: 300px;
}

.img-home .title-overlaps {
	position: absolute;
	right: -161px;
	font-size: 27px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 5px;
}

.presentation {
    padding: 2.5em 0 0 1em;
	float: right;
}

#presentation h1 {
	font-family: 'Montaga' serif;
	font-size: 42px;
	font-weight: 500;
	margin-bottom: 0;
}

#presentation h2 {
	font-family: 'Montaga' sans-serif;
	font-size: 24px;
	font-weight: 500;
}

#presentation p {
	font-family: 'Montserrat' sans-serif;
	font-family: 16px;
	font-weight: 350;
	letter-spacing: 2 em;
	text-align: justify;
}
/* .card img {
	width: 150px;
} */

/* .card { */
	/* width: 200px;
	border: 1px solid rgb(230 230 230);
	padding: 20px;
	border-radius: 3px;
	box-shadow: 0 0 5px rgb(230 230 230);
	text-align: center;
}

.card p {
	opacity: 0.7;
}

.cards {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
} */
