
.img-home {
	position: relative;
	width: 500px;

}

.img-home .img {
	width: 350px;
	margin-top: 21px;
}

.img-home .title-overlaps {
	position: absolute;
	right: -455px;
	font-size: 64px;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-top: 30px;
	font-family: 'flood std', serif;
	color:rgb(85 85 85);

	
}

.presentation {
    padding: 2.5em 0 0 1em;
	float: right;
}

.presentation h3 {
	padding-top: 60px;
	padding-bottom: 10px;
	font-family: 'Montaga' sans-serif;
	font-size: 1.5 em;
	font-weight: 500;
	color: rgb(85 85 85);
}

.presentation h4 {
	padding-top: 60px;
	padding-bottom: 10px;
	font-family: 'Montaga' sans-serif;
	font-size: 28px;
	font-weight: 500;
	color:rgb(85 85 85);
	text-align: center;
}

.presentation p {
	font-family: 'Lato' sans-serif;
	font-family: 16px;
	font-weight: 350;
	letter-spacing: 2 em;
	text-align: justify;
	line-height: 28px;
	color: rgb(85 85 85);
}

.btn.btn-success-home {
background-color: #F9EDDF;
border-radius: 15px;
border: 0.8px solid rgb(184, 218, 245);
box-shadow: 4px 4px rgb(184, 218, 245);
color: #513B61;
opacity: 0.8;
padding: 8px 8px;
font-family: 'lato', sans-serif;
font-size: 21px;
letter-spacing: 1px;
justify-content: center;
position: absolute;
right: 10px;
margin-top: 0px;
margin-bottom: 20px;
}


.btn.btn-success-home:hover {
	color: rgb(184, 218, 245);
}

/* Cards  */

h2 {
	margin-left: 100px;
	margin-top: 100px;
	padding-top: 100px;
	font-family: 'Flood std';
	font-size: 42px;
	color:#513B61;
}

.card-home img {
	width: 250px;
	justify-content: center;
}

.card-home {
	width: 510px;
	padding: 20px;
	line-height: 25px;
	box-shadow: 2px 2px rgba(184, 218, 245, 0.6);
	margin-right: 20px;
	color: rgb(85 85 85);
	border: 0.5px dotted rgba(184, 218, 245, 0.6);
}

.card-home h4 {
	color: rgb(85 85 85);
	text-align: center;
}
.cards {
	margin-bottom: 30px;
	margin-top: 100px;
	margin-left: 2em;
	margin-right: 2em;
	display: inline-block;
}