/* Navbar */

#logolike {
	font-family: 'Flood std';
	color: #513b61;
	margin-left: 100px;
}
.logo {
	margin-left: 85px;
}

/* Upper Bar and Button */

.upper-bar {
	background-color: #f9eddf;
	padding: 15px;
	padding-right: 10px;
	text-align: right;
	justify-content: space-around;
}

.call-button {
	background-color: #f9eddf;
	border-radius: 5px;
	padding: 0px 5px;
	margin-right: 80px;
	border: 1px solid rgb(237, 239, 225);
	box-shadow: 5px 4px rgb(184, 218, 245);
}
.call-button :hover {
	color: rgb(184, 218, 245);
}

.upper-button a {
	text-decoration: none;
	font-family: 'Lato' sans-serif;
	letter-spacing: 1px;
	font-size: 21px;
	color: #513b61;
	font-weight: 510;
}

/* Banner */

.banner {
	justify-content: center;
	padding: 70px;
	padding-left: 100px;
	background-image: url('../App/background_mainbanner.jpg');
	background-size: cover;
	background-position: center;
}

.banner h1 {
	color: #f9eddf;
	font-family: 'Flood std', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 90px;
	letter-spacing: 5px;
	text-align: justify center;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 30px;
}

.banner p {
	color: #f9eddf;
	font-family: Lato, sans-serif;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 5px;
	text-align: justify center;
	padding: 5px;
	margin-left: 30px;
}

.navbar-container,
.navbar-container .navbar-wrapper {
	width: 100%;
}
