.footer {
	background-color:#F9EDDF;
	text-align: center;
	padding: 60px;
}

.footer a {
	font-size: 30px; 
	color: #513B61;
	margin: 0 5px;
}

.footer p {
	color:#513B61;
}

.footer .fas {
	color: red;
}